body {
    font-family: "Lexend";
    margin: 0;
    background-color: #313055;
    color: white
}

header {
    background: linear-gradient(to right, #910dc5, #2563eb);
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 20px auto;
    background: #313055;
    padding: 20px;
    border-radius: 8px;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.card {
    background-color: #455986;
    padding: 15px;
    margin: 15px 0;
    border-left: 5px solid #910dc5;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #121c36;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
.spec-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.spec-table th,
.spec-table td {
    border: 0px solid #171627;
    padding: 12px;
    text-align: left;
}

.spec-table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.spec-table th {
    background-color: #651da0;
    color: white;
}

.spec-table tr:nth-child(even) {
    background-color: #353472;
}

.spec-table tr:hover {
    background-color: #32529c;
}
